<ScrollView>
  <StackLayout class="page">
    <StackLayout class="m-b-20">
      <Label text="{{ friend.pseudo }}"></Label>
      <Image src="{{ friend.img }}" stretch="none"></Image>
    </StackLayout>
    <Label text="Ses lieux favoris" class="m-b-20"></Label>
    <StackLayout *ngFor="let place of places">
      <StackLayout orientation="horizontal">
        <Label text="- {{ place.name }}"></Label>
        <Button (tap)="onExpand(place)" [text]="placeExpand && placeExpand._id === place._id ? 'Hide' : 'Show'" class="m-l-5"></Button>
      </StackLayout>
      <card-place *ngIf="placeExpand && placeExpand._id === place._id" [place]="place" class="m-b-20"
                  (add)="onAdd($event)" (moreInfos)="onMoreInfos($event)">
      </card-place>
    </StackLayout>
  </StackLayout>
</ScrollView>