<ScrollView>
  <StackLayout class="page">
    <Label text="Mes places" class="h1"></Label>
    <StackLayout *ngFor="let place of places">
      <StackLayout orientation="horizontal">
        <Label text="- {{ place.name }}"></Label>
        <Button (tap)="onExpand(place)" [text]="placeExpand && placeExpand._id === place._id ? 'Hide' : 'Show'" class="m-l-5"></Button>
        <Button (tap)="onShare(place)" text="Share" class="m-l-5" [nsRouterLink]="['/place-share', place._id]"></Button>
      </StackLayout>
      <card-place *ngIf="placeExpand && placeExpand._id === place._id" [place]="place" class="m-b-20"
                  (remove)="onRemove($event)" (moreInfos)="onMoreInfos($event)"
                  showMoreInfos="true" showRemove="true">
      </card-place>
    </StackLayout>
  </StackLayout>
</ScrollView>