<StackLayout>
  <Label class="h3" [text]="place.name"></Label>
  <StackLayout *ngFor="let user of place.users">
    <Label [text]="user.pseudo" class="h4"></Label>
    <StackLayout *ngFor="let content of user.contents">
      <StackLayout *ngIf="content.type === 'comment'">
        <Label [text]="content.name"></Label>
      </StackLayout>
      <StackLayout *ngIf="content.type === 'photo'">
        <FlexboxLayout flexWrap="wrap" justifyContent="space-between">
          <StackLayout *ngFor="let image of content.images" [flexGrow]="image === content.images[0] ? 1 : 0"  class="m-5" width="20%">
            <Image src="~/images/friend.png" stretch="aspectFill" height="150"></Image>
          </StackLayout>
        </FlexboxLayout>
      </StackLayout>
    </StackLayout>
  </StackLayout>
</StackLayout>
