<StackLayout tkDrawerContent class="sideStackLayout">
  <StackLayout class="sideTitleStackLayout">
    <Label text="Navigation Menu"></Label>
  </StackLayout>
  <StackLayout class="sideStackLayout">
    <Label text="Primary" class="sideLabel sideLightGrayLabel"></Label>
    <Label text="Home" class="sideLabel" (tap)="onSelectItem('home')"></Label>
    <Label text="Nouveau lieu" class="sideLabel" (tap)="onSelectItem('new-place')"></Label>
    <Label text="Mes amis" class="sideLabel" (tap)="onSelectItem('friends')"></Label>
    <Label text="Mes places" class="sideLabel" (tap)="onSelectItem('my-places')"></Label>
    <Label text="Mes partages" class="sideLabel" (tap)="onSelectItem('my-shares')"></Label>
    <Label text="Paramètres" class="sideLabel" (tap)="onSelectItem('params')"></Label>
  </StackLayout>
</StackLayout>