<StackLayout class="sideStackLayout">
  <StackLayout class="sideTitleStackLayout">
    <Label text="Navigation Menu"></Label>
  </StackLayout>
  <StackLayout class="sideStackLayout">
    <Label text="Hi Jerry" class="sideLabel sideLightGrayLabel"></Label>
    <Label text="Home" class="sideLabel" (tap)="onSelectItem('')"></Label>
    <Label text="Nouveau lieu" class="sideLabel" (tap)="onSelectItem('new-place/select')"></Label>
    <Label text="Mes amis" class="sideLabel" (tap)="onSelectItem('friends')"></Label>
    <Label text="Ajouter un ami" class="sideLabel" (tap)="onSelectItem('friend-add')"></Label>
    <Label text="Mes places" class="sideLabel" (tap)="onSelectItem('places')"></Label>
    <Label text="Mes partages" class="sideLabel" (tap)="onSelectItem('shares')"></Label>
    <Label text="Paramètres" class="sideLabel" (tap)="onSelectItem('profile')"></Label>
  </StackLayout>
</StackLayout>